<div class="background">
<div class="row" style="padding-top:1%; padding-bottom:2%;">
<%= image_tag 'photo/logo4.png', style:"width:25%; height:10%" %><br><br>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/welcome">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <%if logged_in?%>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/trips">My Trips</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/destinations">Destinations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/attractions">Attractions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/reviews">Reviews</a>
        </li>
    </ul>
    <span class="nav-item">
      <%= link_to "Logout", '/logout', method: :delete %>
    </span>
    <%else%>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/new">Sign Up</a>
        </li>
      </ul>
    <%end%>
</nav>


<div class="row" style="padding-top:4%;">
<div class="col"></div>
<div class="col-md-7 text-center">

<h1 class="text-white">Edit Review</h1><br>

<%= form_for @review do |f| %>

  <h5 class="text-white"><%= f.label :attraction_id %></h5>
  <%= f.collection_select :attraction_id, Attraction.all, :id, :name %>
  <br>
  <br>
  <h5 class="text-white"><%= f.label :title %></h5>
  <%= f.text_field :title %>
  <br>
  <br>
  <h5 class="text-white"><%= f.label :rating %></h5>
  <%= f.select :rating, options_for_select(1..5) %>
  <br>
  <br>
  <h5 class="text-white"><%= f.label :comments %></h5>
  <%= f.text_area :comments %>
  <br>
  <br>
  <br>
  <%= f.submit "Submit Review", class:"btn btn-md btn-secondary" %>
  <%end%><br><br><br>

</div><!-- .col-md-7 -->
<div class="col"></div>
</div><!-- .row -->

