<div class="background">
<div class="row" style="padding-top:1%; padding-bottom:2%;">
<%= image_tag 'photo/logo4.png', style:"width:25%; height:10%" %><br><br>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/welcome">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <%if logged_in?%>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/trips">My Trips</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/destinations">Destinations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/attractions">Attractions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/reviews">Reviews</a>
        </li>
    </ul>
    <span class="nav-item">
      <%= link_to "Logout", '/logout', method: :delete %>
    </span>
    <%else%>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/new">Sign Up</a>
        </li>
      </ul>
    <%end%>
</nav>


<div class="row" style="padding-top:10%;">
<div class="col"></div>
<div class="col-md-7 text-center">

<h1 class="text-white font-italic"><strong>Reviews</strong></h1><br><br>

<table class="table table-hover" style="width:70%; margin-left:90px;">
<thead>
  <tr>
  <tr scope="col"><h5 class="text-white">All Attraction Reviews</h5>
  </tr>
</thead>
<% @reviews.each do |review|%>
  <tbody>
  <tr>
  <td scope="row" class="text-white"><%= link_to review.attraction.name, attraction_path(review.attraction), {:style=>'color:lightgray; font-size:18px;', :class => "css_class"} %> - "<%= link_to review.title, review_path(review), {:style=>'color:lightgray; font-size:18px;', :class => "css_class"} %>"</td>
  </tr>
<%end%>
</tbody>
</table>

<br><br><%= button_to "New Review", new_review_path, class:'btn btn-md btn-secondary', method: :get %>

</div><!-- .col-md-7 -->
<div class="col"></div>
</div><!-- .row -->
